<div class="card">
  <div class="card-header">
    Add Local
  </div>
  <div class="card-body">

    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Pays</th>
          <th>Adresse</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let local of Listlocales">
          <td>{{ local.Nom }}</td>
          <td>{{ local.Pays }}</td>
          <td>{{ local.Adresse }}</td>

          <td>
            <button type="button" class="btn btn-danger me-2" (click)="deleteLocale(local._id)"><i
                class="fa-solid fa-trash text-white"></i></button>
            <button type="button" class="btn btn-success" (click)="showData(local._id)" data-bs-toggle="modal"
              data-bs-target="#updateModal"><i class="fa-regular fa-pen-to-square"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="modal fade" id="updateModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Update local</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form [formGroup]="locales">
              <label for="">Nom:</label>
              <input type="text" formControlName="Nom" class="form-control" placeholder="Nom" required>
              <label for="">Adresse:</label>
              <input type="text" formControlName="Adresse" class="form-control" placeholder="Adresse" required>
              <label for="">Pays:</label>
              <select type="text" formControlName="Pays" class="form-control" placeholder="Pays">
                <option value="" disabled>Choose an option</option>
                <option *ngFor="let pay of pays" value="pays._id">{{pay.nom}}</option>
              </select>
              <label for=""> Responsables:</label>
              <select type="text" formControlName="Responsables" class="form-control" placeholder=" Responsables">
                <option value="" disabled>Choose an option</option>
                <option *ngFor="let responsable of responsable" value="pays._id">{{responsable.Nom}}</option>
              </select>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="closebutton" (click)="updateLocal()">Save
              changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>