<div class="card">
  <div class="card-header">
    Add Pays
  </div>
  <div class="card-body">
    <form [formGroup]="pays">
      <label for="">nom:</label>
      <input type="text" formControlName="nom" class="form-control" placeholder="nom" required>
      <label for="">langue:</label>
      <input type="text" formControlName="langue" class="form-control" placeholder="langue" required>
      <label for="">continent:</label>
      <input type="text" formControlName="continent" class="form-control" placeholder="continent">
      <label for="">couleur_drapeau:</label>
      <input type="text" formControlName="couleur_drapeau" class="form-control" placeholder="couleur_drapeau">
      <label for="">Religion:</label>
      <input type="text" formControlName="Religion" class="form-control" placeholder="Réligion">
      <label for="">populisation:</label>
      <input type="number" formControlName="populisation" class="form-control" placeholder="popilisation">
      <label for="">taux_de_migration:</label>
      <input type="number" formControlName="taux_de_migration" class="form-control" placeholder="taux_de_migration">

      <button type="button" class="btn btn-success" (click)="ajouterPays()">Valider</button>
    </form>
  </div>
</div>