<div class="card">
  <div class="card-header">
    LIST RESPONSABLE
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email-Respo</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let responsable of listResponsable">
        <td>{{ responsable.Nom }}</td>
        <td>{{ responsable.Prenom }}</td>
        <td>{{ responsable.EmailRespo }}</td>
        <td>{{ responsable.Status ==true ? 'Active': 'Inactive'}}</td>


        <td class="d-flex align-items-center">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" (change)="changeStatus(responsable._id)" role="switch"
              id="flexSwitchCheckChecked" [checked]="responsable.Status ? true: false">
          </div>
          <button type="button" class="btn btn-success" (click)="showData(responsable._id)" data-bs-toggle="modal"
            data-bs-target="#updateModal"><i class="fa-regular fa-pen-to-square"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="updateModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update responsable</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="responsables">
            <label for="">Nom:</label>
            <input type="text" formControlName="Nom" class="form-control" placeholder="Nom" required>
            <label for="">Prenom:</label>
            <input type="text" formControlName="Prenom" class="form-control" placeholder="Prenom" required>
            <label for="">EmailRespo:</label>
            <input type="email" formControlName="EmailRespo" class="form-control" placeholder="Email">
            <label for="">Password:</label>
            <input type="Password" formControlName="Password" class="form-control" placeholder="Password">
            <label for="">date_affectation:</label>
            <input type="date" formControlName="date_affectation" class="form-control" placeholder="date_affectation">
            <label for="">Pays:</label>
            <select type="text" formControlName="Pays" class="form-control" placeholder="Pays">
              <option value="" disabled>Choose an option</option>
              <option *ngFor="let pay of pays" value="{{pay._id}}">{{pay.nom}}</option>
            </select>
            <label for="">Locale:</label>
            <select type="text" formControlName="Locale" class="form-control" placeholder="Locale">
              <option value="" disabled>Choose an option</option>
              <option *ngFor="let local of locale" value="{{local._id}}">{{local.Nom}}</option>
            </select>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="closebutton" (click)="updateResponsable()">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>