<div class="card">
  <div class="card-header">
    Add Local
  </div>
  <div class="card-body">
    <form [formGroup]="local">
      <label for="">Nom:</label>
      <input type="text" formControlName="Nom" class="form-control" placeholder="Nom" required>
      <label for="">Adresse:</label>
      <input type="text" formControlName="Adresse" class="form-control" placeholder="Adresse" required>
      <label for="">Pays:</label>
      <select type="text" formControlName="Pays" class="form-control" placeholder="Pays">
        <option *ngFor="let pay of pays" value="pays._id">{{pay.nom}}</option>
      </select>
      <label for=""> Responsables:</label>
      <select type="text" formControlName=" Responsables" class="form-control" placeholder=" Responsables">
        <option *ngFor="let responsable of responsable" value="pays._id">{{responsable.Nom}}</option>
      </select>
      <button type="button" class="btn btn-success" (click)="ajouterLocal()">Valider</button>
    </form>
  </div>
</div>