<div class="card">
  <div class="card-header">
    Add responsable local
  </div>
  <div class="card-body">
    <form [formGroup]="responsable">
      <label for="">Nom:</label>
      <input type="text" formControlName="Nom" class="form-control" placeholder="Nom" required>
      <label for="">Prenom:</label>
      <input type="text" formControlName="Prenom" class="form-control" placeholder="Prenom" required>
      <label for="">EmailRespo:</label>
      <input type="email" formControlName="EmailRespo" class="form-control" placeholder="Email">
      <label for="">num_passport:</label>
      <input type="text" formControlName="num_passport" class="form-control" placeholder="num_passport">
      <label for="">Pays:</label>
      <select type="text" formControlName="Pays" class="form-control" placeholder="Pays">
        <option *ngFor="let pay of pays" value="{{pay._id}}">{{pay.nom}}</option>
      </select>
      <label for="">Locale:</label>
      <select type="text" formControlName="Locale" class="form-control" placeholder="Locale">
        <option *ngFor="let local of locale" value="{{local._id}}">{{local.Nom}}</option>
      </select>
      <button type="button" class="btn btn-success" (click)="ajouterResponsable()">Valider</button>
    </form>
    {{responsable.value | json}}
  </div>
</div>