<table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>continent</th>
        <th>Action</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let pays of pays">
        <td>{{ pays.nom }}</td>
        <td>{{ pays.continent }}</td>
       
        <td>
          <button  type="button"  class="btn btn-custom" (click)="deletePays(pays._id)">delete</button>
          <button   type="button" class="btn btn-custom" (click)="updatePays(pays._id, { nom: 'Nouveau nom', 
          prenom: 'Nouveau prénom' })">update</button>
        </td>
      </tr>
    </tbody>
  </table>
  