<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>continent</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let pays of listPays">
      <td>{{ pays.nom }}</td>
      <td>{{ pays.continent }}</td>

      <td>
        <button type="button" class="btn btn-danger" (click)="deletePays(pays._id)">delete</button>
        <button type="button" class="btn btn-success" (click)="showData(pays._id)" data-bs-toggle="modal"
          data-bs-target="#updateModal">update</button>
      </td>
    </tr>
  </tbody>
</table>